{
	"id": {{ project_slug | to_json }},
	"name": {{ project_name | to_json }},
	"version": "0.1.0",
	"minAppVersion": "1.0.0",
	"description": {{ project_description | to_json }},
	"author": "Obsidian",
	"authorUrl": "https://obsidian.md",
	"fundingUrl": "https://obsidian.md/pricing",
	"isDesktopOnly": false
}
