{
	"name": {{ package_name | to_json }},
	"version": "0.1.0",
	"description": {{ project_description | to_json }},
	"main": "main.js",
	"scripts": {
		"build": "tsc -noEmit -skipLibCheck && node esbuild.config.mjs production",
		"dev": "node esbuild.config.mjs",
		"format": "biome format --write",
		"lint": "biome check",
		"version": "node version-bump.mjs && git add manifest.json versions.json"
	},
	"keywords": [],
	"author": {{ author | to_json }},
	{% if author_url -%}
	"url": {{ author_url | to_json }},
	{% endif -%}
	{% if funding_url -%}
	"funding": {{ funding_url | to_json }},
	{% endif -%}
	"license": "MIT",
	"devDependencies": {
		"@biomejs/biome": "1.9.4",
		"@types/node": "^16.11.6",
		"builtin-modules": "3.3.0",
		"esbuild": "^0.24.0",
		"obsidian": "^1.7.2",
		"obsidian-typings": "^2.3.3",
		"tslib": "2.4.0",
		"typescript": "4.7.4"
	}
}
