import * as en from "./locale/en.json";

const NAMESPACE = "plugin-{{ project_slug }}";

window.i18next.addResourceBundle("en", NAMESPACE, en);

export const t = window.i18next.getFixedT(null, NAMESPACE);
