import { type App, PluginSettingTab, Setting } from "obsidian";
import { t } from "./i18n";
import type {{ class_name }}Plugin from "./{{ project_slug }}";

export interface {{ class_name }}Settings {
	mySetting: string;
}

export const DEFAULT_SETTINGS: {{ class_name }}Settings = {
	mySetting: "default",
};

export class {{ class_name }}SettingTab extends PluginSettingTab {
	plugin: {{ class_name }}Plugin;

	constructor(app: App, plugin: {{ class_name }}Plugin) {
		super(app, plugin);
		this.plugin = plugin;
	}

	display(): void {
		const { containerEl } = this;

		containerEl.empty();

		new Setting(containerEl)
			.setName(t("setting.option-setting1"))
			.setDesc(t("setting.option-setting1-desc"))
			.addText((text) =>
				text
					.setPlaceholder(t("setting.option-setting1-placeholder"))
					.setValue(this.plugin.settings.mySetting)
					.onChange(async (value) => {
						this.plugin.settings.mySetting = value;
						await this.plugin.saveSettings();
					}),
			);
	}
}
